<h3>Details for <%= @channel.name %></h3>
<ul>
  <li>Number of Subscribers:<br><%= @channel.total_subscribers %></li><br>
  <li>Price per month:<br>$<%= @channel.price_per_month %></li>
</ul>
<form action="/channels/<%= @channel.id %>" method="post">
  <% if current_user && @subscribed %>
    <input type="submit" name="submit" value='Unsubscribe!'>
  <% else %>
    <input type="submit" name="submit" value='Subscribe!'>
  <% end %>
</form>
